.movies{
    position: relative;
    margin-left: 3%;
    overflow: hidden;
    max-width: 100%;
    padding: 0 4px;
  }
  .imgtwo{
    height: 35.3vh;
  }

  .firstmovie{  
      float: left;
      width: 30vw;   
      object-fit: cover;
      padding: 5px;
      
  }
  .secondmovie{
     
      float: left;
      width: 30vw;
      
      object-fit: cover;
      padding: 5px;
  }
  .thirdmovie{
      float: left;
      width: 30vw;
      height: 41.5vw;
      object-fit: cover;
      
      padding: 5px;
  }
  * {
      box-sizing: border-box;
    }
 

  .moviep{
     width:70%;
     left:90px;
     margin-bottom: 30px;
     position:relative;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
  }
  .sopranosparagraph{
        left:70px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position:relative;
  }
  .findoutmore{
    margin-left:90px;
    color: rgb(72, 145, 145);
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    

}
.fintwo{
    position: relative;
    bottom: 20px;
}
.otw{
    position: relative;
    bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.otwh1{
    position: relative;
    bottom: 10px;
}
.findsopr{
    position: relative;
    
}
.middle{
    clear: both;
    background-color: #f1f1f1;
    position: relative;
    padding-top: 10px;
    height: 30%;
    padding-bottom: 80px;
}
.news{
    position: absolute;
    left: 400px;
    bottom: 10px;
    
}
.newtime{
    position: absolute;
    left: 419px;
    font-family: 'ZCOOL KuaiLe', cursive;
     
}


.wire{
    position:absolute;
    left: 900px;
    bottom: 10px;
}
.wiretime{

    position: absolute;
    left: 900px;
    
    font-family: 'ZCOOL KuaiLe', cursive;
}
.border{
    border-bottom: 2px outset rgba(28,110,164,0.31);
    width: 50%;
    margin-left: 300px;
    
}
.toh{
 
    margin-left: 280px;
}


@media only screen and (max-width: 700px) {
    
    .firstmovie{
        width: 100%;  
        object-fit: cover;
        padding: 5px;   
    }    
    .findsopr{
        position: static;
    }
    .secondmovie{  
        width: 100%;   
        object-fit: cover;
        padding: 5px;
    }
    .thirdmovie{
       
        width: 100%;
        height:100%;
        object-fit: cover;
        padding: 5px;

    }
    .moviep{
       width:70%;
       position:relative;
     }
     .sopranosparagraph{
           left:70px;
        
            position:relative;
     }
     .imag{
         margin-top:50px;

    }
    .findoutmore{ 
        position:relative;
        left:90px;
     
    }    
}



@media only screen and (max-width: 1000px) {
    .toh{
        position: relative;
        right: 250px;  
    }  
    .mid{
       
    }
    .imgtwo{
        height: auto;
        width: 100%;

     } 
    .wire{
        
        position:absolute;
        left: 455px;
        bottom: 10px;

    }
    .wiretime{
        position:absolute;
        left: 455px;
        bottom: 30px;    
    }
    .news {
        position: absolute;
        left: 50px;
        bottom: 10px;
    }
    .newtime{
        position: absolute;
        left: 70px;
        bottom: 30px;

        
    }
    .border{
        border-bottom: 2px outset rgba(28,110,164,0.31);
        width: 100%;
        margin-left: 0;
        
    }


}


@media only screen and (max-width: 530px) {
    .border{
        border-bottom: 2px outset rgba(28,110,164,0.31);
        width: 100%;
        margin-left: 0;
        
    }
    
 .wire{
       
    transform: translateX(-200px) translateY(-20px);
    position:absolute;
    width: 100%;
    top: 130px;
    }
    .wiretime{
        transform: translateX(-200px) translateY(-20px);
        position:absolute;
        width: 100%;
        top: 105px;
       
    }
}

h1{
    transition: 5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-align: center;
}
h1:hover{
}
.fellas{
  position: absolute;
  z-index: 5;
  left: 370px;
  transform: translate(0,-100px);

}
.slatt{

}
.z{   
    box-shadow: 0 0 0 999999px rgba(0,0,0,0.5);
    display: block;
    
    margin:0 auto;
 
   
   
}
.fas{
    color: blueviolet;
   position: relative;
   left: 600px;
   top: 30px;
    z-index: 9;
}





 @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .firstmovie{
   
        width: 100%;
        
        object-fit: cover;
        padding: 5px;
        
    }
    
    .findsopr{
        position: static;
        bottom: 10px;
    }
    .secondmovie{
       
        width: 100%;
        
        object-fit: cover;
        padding: 5px;
    }
    .thirdmovie{
       
        width: 100%;
        height:100%;
        object-fit: cover;
        
        padding: 5px;

    }
    .moviep{
       width:70%;
        text-align: center;
        
        position:relative;
     }
     .sopranosparagraph{
            left:70px;
            width: 80%;
            
            position:relative;
     }
     .imag{
          margin-top:50px; 
    }
    .otw{
        width:70%;
        left: 150px;
        
        position:relative;
    }
    .findoutmore{
      
        
      
        font-size: 30px;
        position:relative;
        left:320px;
     
    }
    
   
    
  
    

} 




